* {
  margin: 0
  padding: 0
}

body {
  font-family: Verdana, Tahoma;
  color: #00a;
  font-size: 100%;
}

h1, h2, h3 {
color: #000;
  font-family: Arial;
}

a {
  color: #428;
}
a:visited {
  color: #888;
}
a:hover {
  color: red;
}

td {
 width: 150px;
 text-align:center;
}
.hint {
color: #55c;
font-size: 0.8em;
}
