%h1 Listing settings

%table
  %tr
    %th Parameter 
    %th Type
    %th Value

  - @settings.each do |setting|
    %tr
      %td= link_to(setting.caption, setting)+":"
      %td= setting.converted_value.class
      %td= setting.value

%br

= link_to 'New Setting', new_setting_path
